<div class="parallax">
  <div class="container">
    <div class="card-deck">
      <div *ngFor="let timeSlot of timeSlots" class="card my-3" [ngClass]="{'bg-danger text-white': timeSlot.isSelected}">
        <img src="assets/img/clock.JPG" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Time Slot</h4>
          <p class="card-text">{{ timeSlot.title }}</p>
          <button class="btn btn-primary" (click)='routeToNextPage(timeSlot.slotId)' type="button">Book</button>
        </div>
      </div>
    </div>
  </div>
</div>